
.rotateslider-container {
  position: relative;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  min-height: 360px;
}

.rotateslider-container .rotateslider-item {
  position: absolute;
  left: 50%;
  top: 44%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0.6);
  -ms-transform: translateY(-50%) translateX(-50%) scale(0.6);
  transform: translateY(-50%) translateX(-50%) scale(0.6);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 300px;
  height: 200px;
}

.rotateslider-container .rotateslider-item img{
  width: 100%;
}

.rotateslider-container .rotateslider-item.next {
  left: 85%;
  opacity: 0.5;
  z-index: 500;
}

.rotateslider-container .rotateslider-item.prev {
  left: 15%;
  opacity: 0.5;
  z-index: 501;
}

.rotateslider-container .rotateslider-item.now {
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  top: 47%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
  -ms-transform: translateY(-50%) translateX(-50%) scale(1);
  transform: translateY(-50%) translateX(-50%) scale(1);
  z-index: 502;
  width: 450px;
  height: 360px;
}

.rotateslider-container .arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #08294C;
  position: absolute;
  top: 44%;
  margin-top: -25px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding-top: 2px;
  z-index: 901;
}

.rotateslider-container .arrow.left { left: 0; }

.rotateslider-container .arrow.right { right: 0; }

@media screen and (max-width: 768px) {
  .rotateslider-container {
    min-height: 400px;
  }

  .rotateslider-container .rotateslider-item {
    width: 30%;
    height: auto;
  }

  .rotateslider-container .rotateslider-item.now {
    width: 50%;
    height: auto;
  }
}
